@font-face {
   font-family: 'ComicSansMS';
   font-display: swap;
   src: url('file:///C:/Users/Maarten/AppData/Local/Mobirise.com/Mobirise/projects/project-2020-09-08_163522/fonts/ComicSansMS/font.ttf');
}
